/* https://github.com/coekuss/quietfox
Thanks for using my file */

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

* {
/* -------------------- 🎨 Customization 🎨 -------------------- */
  --tab-corner-rounding: 6px;
  --animation-speed: 0.2s;
}

/* Rounded bottom corners */

tab[visuallyselected] .tab-background::before,
tab[visuallyselected] .tab-background::after {
    content: "" !important;
    display: inline !important;
    position: absolute !important;
    width: var(--tab-corner-rounding) !important;
    height: var(--tab-corner-rounding) !important;
    bottom: 0px !important;
    pointer-events: none !important;
    background-color: transparent !important;
    transition: var(--animation-speed) !important;
}

tab[visuallyselected] .tab-background::before {
    border-bottom-right-radius: var(--tab-corner-rounding) !important;
    transform: translateX(calc(-1 * var(--tab-corner-rounding))) !important;
    box-shadow: 4px 4px 0px 4px var(--toolbar-bgcolor) !important;
    transition: var(--animation-speed) !important;
}

tab[visuallyselected] .tab-background::after {
    border-bottom-left-radius: var(--tab-corner-rounding) !important;
    right: 0px !important;
    transform: translateX(var(--tab-corner-rounding)) !important;
    box-shadow: -4px 4px 0px 4px var(--toolbar-bgcolor) !important;
    transition: var(--animation-speed) !important;
}

/* Round tabs and remove separators around active tab */

.tab-background, .tab-loading-burst  {
  border-radius: var(--tab-corner-rounding) var(--tab-corner-rounding) 0px 0px !important;
  /* margin-left: -1px !important;
  margin-right: -1px !important; */
  margin: 0 0px -1px -1px !important;
}

/* Background tab hover speed */

tab:not(:active) .tab-background {
  transition: background-color var(--animation-speed) !important;
}

/* Background tab hover color */

tab:not([selected]):hover .tab-background {
  background-color: var(--toolbarbutton-hover-background) !important;
}

/* Hide tab separator on hover */

tab[beforehovered]::after,
tab:hover::after {
  border-color: transparent !important;
  margin-top: 20px !important;
}

/* Remove weird tab border */

#navigator-toolbox {
  --tabs-border-color: transparent !important;
}

/* Remove line before tabs */

.titlebar-spacer[type="pre-tabs"] {
  border-inline-end: 0px !important;
}

/* Fixes broken first tab */

tabs:not([overflow]) .tabbrowser-arrowscrollbox > .arrowscrollbox-scrollbox {
  padding-left: 12px !important;
}

/* Padding around new tab button */

.tabs-newtab-button {
  /* margin-left: 3px !important;
  margin-bottom: 3px !important; */
  margin: 3px !important;
}

/* Shorter tab separators */

tab:not([beforeselected-visible])::after {
  margin-top: 4px !important;
  margin-bottom: 4px !important;
  transition: border-color var(--animation-speed), margin-top var(--animation-speed) !important;
}

tab[first-visible-tab="true"]{
  padding-left: var(--tab-corner-rounding) !important;
}

tab:not(:active) .tab-background {
  transition: background-color var(--animation-speed) !important;
}

:root[uidensity="compact"] {
  --tab-min-height: 31px !important;
}

tab:not([selected]):hover .tab-background {
  background-color: var(--toolbarbutton-hover-background) !important;
}

tab {
  min-width: 1px !important;
  clip-width: 1px !important;
  /* padding-bottom: 1px !important; */
}

tab:not([beforeselected-visible])::after {
  margin-top: 4px !important;
  margin-bottom: 4px !important;
  transition: border-color var(--animation-speed), margin-top var(--animation-speed) !important;
}

tab[beforehovered]::after,
tab:hover::after {
  border-color: transparent !important;
  margin-top: 20px !important;
}

#navigator-toolbox {
  --tabs-border-color: transparent !important;
}
