input::-moz-focus-inner {
	border: 0;
	padding: 0;
	margin-top:-2px;
	margin-bottom: -2px;
}

/* make transparent images have checkerbox background */

@media not print {
  body > img.transparent {
    background-color: #fff !important;
    background-image: linear-gradient(45deg, #efefef 25%, transparent 25%, transparent 75%, #efefef 75%), linear-gradient(45deg, #efefef 25%, transparent 25%, transparent 75%, #efefef 75%) !important;
    background-size: 20px 20px !important;
    background-position: 0 0, 10px 10px !important;
  }
}

@-moz-document url("moz-extension://4b88bb80-eaf9-9744-8313-3ce43a0a2bee/vault.html") {
	#ad {
		display: none !important
	}

	.freeUser .leftOfAd {
	  right: 0px !important;
	}

	.folderWrapper > div, .stickyFoldersContainer {
		margin: 0 30px 24px !important;
	}

	#options {
		padding: 12px 30px 0 !important;
	}
}

@-moz-document url(about:newtab) {

	/* .top-site-outer .top-site-icon {
    box-shadow: 0 !important;
	}

	.ds-top-sites .top-sites .top-site-outer .top-site-inner > a:-moz-any(:hover) .tile,
	.top-site-outer:hover .top-site-icon {
    box-shadow: 0 0 0 5px black !important;
	} */

	/* .collapsible-section.active {
		background: #2b2b2b !important;
	}

	.ds-top-sites {
		color: white !important;
	}

  .icon-settings {
    transition: 0.3s;
    border-radius: 100%;
  }

  .icon-settings:hover {
    transition: 0.3s;
    border-radius: 100%;
  } */

  /* .search-wrapper input {
    background-color: rgb(56,56,61) !important;
    opacity: 0.6;
  } */


  /* #newtab-search-text {
    color: rgb(248,248,250) !important;
  } */
}

/* Two column addons for html addons manager available in Firefox 68 */

@-moz-document url-prefix("chrome://mozapps/content/extensions/aboutaddons.html"){

  :root{  overflow-x: hidden } /* Remove this if it causes horizontal scrolling problems */

  @media (min-width:720px){
    #main{ max-width: unset !important; padding-right: 28px; }
    addon-list > section,
    recommended-addon-list{
      padding: 1em;
      display: grid;
      grid-template-areas: "hd hd" "cd cd";
      grid-template-columns: 1fr 1fr;
      column-gap: 1em;

    }

    addon-card .card-contents{ width: unset !important; white-space: initial !important; }

    .card-heading-image{ max-width: calc(100% + 32px) }
    section > h2{ grid-area: hd }
    addon-card{
      padding-bottom: 0px !important;
      padding-top: 0px !important;
      grid-area: auto;
    }
    addon-card .addon-description{ max-height: 3em; scrollbar-width: thin; }
  }
}

@-moz-document domain("www.instagram.com") {
	.pbNvD, .fPMEg, .HYpXt {
		background-color: tomato !important;
	}
}

@-moz-document domain("duckduckgo.com") {
	/* .results--main .result:not(.result--ad).highlight */
	.result.highlight {
	 border: 1px solid transparent !important;
	 background: transparent !important;
	 box-shadow: none !important;
	}
}
