
/* Scrolling Bookmarks */
/* Adapted from: https://github.com/MrOtherGuy/firefox-csshacks/tree/master/chrome/multi-row_bookmarks.css */

#PlacesToolbarItems{
  display: flex;
  flex-wrap: wrap;
  overflow-y: auto;
	scrollbar-width: none !important;
	scroll-snap-type: y mandatory !important;
}

#PlacesToolbarItems toolbarbutton {
  scroll-snap-align: center !important;
}

/* Fancy tab container label in url bar */

#userContext-icons {
	position: relative !important;
	padding-inline: 8px !important;
	margin: 0 !important;
	color: var(--identity-tab-color) !important;
}

#userContext-icons::before {
	content: '' !important;
	position: absolute !important;
	left: 0 !important;
	right: 0 !important;
	top: 0 !important;
	bottom: 0 !important;
	background: var(--identity-tab-color) !important;
  border-radius: 5px !important;
	opacity: .1 !important;
}

/* 0 left & right padding around bookmarks bar + 3px bottom to match above */

#PersonalToolbar {
  padding: 0 0 3px 0 !important;
}

/* Round alternate search options and reduce padding */

.searchbar-engine-one-off-item {
	border-radius: 100% !important;
	margin: 0 4px 0 4px !important;
}

/* Rounded favicons (and bookmarks) */

.tab-icon-image, .toolbarbutton-icon {
  border-radius: 3px !important;
}

/* Rounded Bookmarks */

#navigator-toolbox .bookmark-item:not(menuitem), #PlacesChevron{
	border-radius: 99px !important;
	transition-duration: .1s !important;
}

/* Global UI Font */

* {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

/* Custom tooltip style */

tooltip {
  /* -moz-appearance: none !important; */
  /* background-color: #F5F5F5 !important; */
  padding: 8px !important;
  border-radius: 5px !important;
  box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
}

/* Hide search dropdown */

/* .urlbar-history-dropmarker {
  display: none;
} */

/* Bookmarks bar extra padding like chrome */

#navigator-toolbox toolbarbutton.bookmark-item:not(.subviewbutton) {
	padding: 6px !important;
}

/* Stop Tab overflow */

.tabbrowser-tab {
  min-width: 1em !important;
  clip-width: 1em !important;
}

/* If window < 800px wide, no spacers before and after tabs */

@media only screen and (max-width: 800px) {
  .titlebar-spacer[type="pre-tabs"] {
    width: 7px !important;
  }
	.titlebar-spacer[type="post-tabs"] {
		width: 0 !important;
	}
}

/* Expanded urlbar styling */

.urlbarView {
	margin-inline: 0 !important; width: auto !important;
}

.urlbarView-row {
	padding: 0 2px !important;
}

/* Shrinks padding around 'This time, search with' area */

#urlbar .search-one-offs:not([hidden]) {
  padding-block: 0px !important;
	padding: 5px !important;
}

/* Removes 'This time, search with' text */

.search-panel-one-offs-header {
	display: none !important;
}

/* Removes all toolbar button badges */

.toolbarbutton-badge {
	display: none !important;
}

/* Reduced padding on hamburger menu */

#PlacesToolbar menuitem, #PlacesToolbar menu, .subview-subheader, panelview .toolbarbutton-1, .subviewbutton, .widget-overflow-list .toolbarbutton-1 {
	padding: 5px !important;
}

/* remove the  all tabs button */

#alltabs-button {
    display: none !important;
}
