@import "icons/icons.css";
@import "nice-tabs.css";

/* Scrolling Bookmarks */
/* Adapted from: https://github.com/MrOtherGuy/firefox-csshacks/tree/master/chrome/multi-row_bookmarks.css */

#PlacesToolbarItems{
  display: flex;
  flex-wrap: wrap;
  overflow-y: auto;
	scrollbar-width: none !important;
	scroll-snap-type: y mandatory !important;
}

#PlacesToolbarItems toolbarbutton {
	scroll-snap-align: start !important;
}

/* Fancy tab container label in url bar */

#page-action-buttons {
	height: 24px !important;
	display: flex !important;
}

#userContext-icons {
	position: relative !important;
	padding-inline: 8px !important;
	margin: 0 !important;
	color: var(--identity-tab-color) !important;
}

#userContext-icons::before {
	content: '' !important;
	position: absolute !important;
	left: 0 !important;
	right: 0 !important;
	top: 0 !important;
	bottom: 0 !important;
	background: var(--identity-tab-color) !important;
	/* border-radius: 99px !important; */
  border-radius: 5px !important;
	opacity: .1 !important;
}

/* Nice adaptive container line rounding + Taller container lines */

.tab-bottom-line {
  height: 5px !important;
  border-radius: 2.5px;
  margin: 0 9px 1px 9px !important;
  background-color: var(--identity-tab-color) !important;
  transition: 0.1s;
}

#TabsToolbar #tabbrowser-tabs .tabbrowser-tab:not([selected]) .tab-bottom-line {
  border-radius: 5px 5px 0 0;
	transition: 0.1s;
}

/* 0 left & right padding around bookmarks bar + 3px bottom to match above */

#PersonalToolbar {
  padding: 0 0 3px 0 !important;
}

/* Back button styling */

:root:not([uidensity="compact"]) #back-button > .toolbarbutton-icon {
  height: 28px !important;
  width: 28px !important;
  padding: 0 6px !important;
  --panel-disabled-color: rgba(7, 7, 7, 0.5);
  background-color: transparent !important;
  border: 0 !important;
  transition: background-color var(--animation-speed) !important;
}

:root:not([uidensity="compact"]) #back-button:not([disabled]):not([open]):hover > .toolbarbutton-icon {
  background-color: var(--toolbarbutton-hover-background) !important;
  box-shadow: none !important;
}

:root:not([uidensity="compact"]) #back-button[open] > .toolbarbutton-icon {
  background-color: var(--toolbarbutton-active-background) !important;
}

:root:not([uidensity="touch"]):not([uidensity="compact"]) #back-button {
  margin-top: -1px !important;
  margin-bottom: -1px !important;
}

/* Round alternate seach options */

.searchbar-engine-one-off-item {
	border-radius: 100% !important;
}

/* increased rounding on suggestions */

.urlbarView-row {
	border-radius: 3px !important;
}

/* Rounded favicons (and bookmarks) */

.tab-icon-image, .toolbarbutton-icon {
  border-radius: 3px !important;
}

/* Rounded Bookmarks */

#navigator-toolbox .bookmark-item, #PlacesChevron{
	border-radius: 99px !important;
	transition-duration: .1s !important;
}

/* Global UI Font */

* {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

/* Background tab hover color */

.tabbrowser-tab:not([selected]):hover .tab-background {
	/* background-color: rgba(256,256,256,0.2) !important; */
	background-color: var(--tab-line-color) !important;
}

/* Remove separator between extenstions and menu button */

#PanelUI-button {
	margin-left: -5px !important;
	border-image-slice: 0 !important;
}

/* Rounded Buttons */

/* #reload-button, */
.toolbarbutton-badge-stack,
.toolbarbutton-animatable-box,
#back-button .toolbarbutton-icon,
#forward-button .toolbarbutton-icon,
#developer-button .toolbarbutton-icon,
#nav-bar-overflow-button .toolbarbutton-icon {
	border-radius: 99px !important;
  transition: 0.1s !important;
}

/* New-tab button styling */

#tabs-newtab-button .toolbarbutton-icon {
	background-color: rgba(256,256,256,0.1) !important;
	border-radius: 99px !important;
	transition: 0.1s !important;
}

#tabs-newtab-button {
	padding-left: 5px !important;
	padding-right: 5px !important;
}

#tabs-newtab-button:hover .toolbarbutton-icon {
	/* background-color: rgba(256,256,256,0.2) !important; */
	background-color: var(--tab-line-color) !important;
}

/* Custom tooltip style */

tooltip {
	-moz-appearance: none !important;
	background-color: #F5F5F5 !important;
	padding: 8px !important;
  border-radius: 5px !important;
  box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
}

/* Add padding above tabs in fullscreen */

#navigator-toolbox[inFullscreen="true"] #TabsToolbar {
  padding-top: 10px !important;
}

/* Line between toolbox and the content */

#PersonalToolbar {
  margin-bottom: -0.5px;
}

/* Hide search dropdown */

.urlbar-history-dropmarker {
  display: none;
}

/* Custom add-ons icons */

toolbarbutton#support_lastpass_com-browser-action  {
  list-style-image: url("icons/last.png") !important;
}

/* Bookmarks bar extra padding like chrome */

#navigator-toolbox toolbarbutton.bookmark-item:not(.subviewbutton) {
	padding: 6px !important;
}

/* Hides the tab line */

.tab-line {
	display: none;
}

/* Stop Tab overflow */

.tabbrowser-tab {
  min-width: 1em !important;
  clip-width: 1em !important;
}

/* Nice Close tab button */

.tab-close-button {
	width: 16px !important;
	height: 16px !important;
	border-radius: 99px !important;
	transition-duration: 1s !important;
}

/* Align first tab to urlbar */

.titlebar-spacer[type="pre-tabs"] {
  width: 30px !important;
}

/* If window < 800px wide, no spacers before and after tabs */

@media only screen and (max-width: 800px) {
  .titlebar-spacer[type="pre-tabs"] {
    width: 7px !important;
  }
	.titlebar-spacer[type="post-tabs"] {
		width: 0 !important;
	}
}

/* Url bar styles */

#urlbar-background {
  box-shadow: none !important;
  overflow: hidden !important;
  font-size: 14px !important;
  border-radius: 6px !important;
}

/* Hides urlbar border when it isn't focused */

#urlbar[breakout]:not([open]):not([focused]) #urlbar-background {
  border-color: var(--lwt-toolbar-field-background-color) !important;
}

/* Make urlbar appear more compact */

#urlbar[breakout]{
  margin-inline-start: 0px !important;
  width: 100% !important;
  left: 0 !important;
  top: calc((var(--urlbar-toolbar-height) - var(--urlbar-height)) / 2) !important;
}

#urlbar[breakout]:not([open]){ bottom: calc((var(--urlbar-toolbar-height) - var(--urlbar-height)) / 2) !important; }
.urlbarView { margin-inline: 0 !important; width: auto !important; }
.urlbarView-row { padding: 0 2px !important; }
.urlbarView-row-inner { padding-inline-start: 4px !important; }
#urlbar-background { animation: none !important; }
#urlbar-input-container { padding: 0 !important; height: 100% !important; }
#identity-box { padding-block: var(--urlbar-icon-padding) }

/* Shrinks padding around 'This time, search with' area */

#urlbar .search-one-offs:not([hidden]) {
  padding-block: 0px !important;
	padding: 5px !important;
}
